<footer class="footer-wrapper footer-layout6">
    <div class="widget-area">
       <div class="container">
          <div class="row justify-content-between">
             <div class="col-md-6 col-xxl-3 col-xl-4">
                <div class="widget footer-widget">
                   <div class="th-widget-about">
                      <div class="about-logo"><a href="index.html"><img src="assets/img/logo-white.svg" alt="Edura"></a></div>
                      <p class="about-text">Continually optimize backward manufactured products whereas communities negotiate life compelling alignments</p>
                      <div class="th-social">
                         <h6 class="title text-white">FOLLOW US ON:</h6>
                         <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a> <a href="https://www.skype.com/"><i class="fab fa-skype"></i></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-xl-auto">
                <div class="widget widget_nav_menu footer-widget style2">
                   <h3 class="widget_title">Company</h3>
                   <div class="menu-all-pages-container">
                      <ul class="menu">
                         <li><a href="about.html">About Us</a></li>
                         <li><a href="course.html">Resource Center</a></li>
                         <li><a href="course.html">Careers</a></li>
                         <li><a href="team.html">Instructor</a></li>
                         <li><a href="contact.html">Become A Teacher</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-xl-auto">
                <div class="widget widget_nav_menu footer-widget style2">
                   <h3 class="widget_title">Courses</h3>
                   <div class="menu-all-pages-container">
                      <ul class="menu">
                         <li><a href="course.html">Health Course</a></li>
                         <li><a href="course.html">Development</a></li>
                         <li><a href="course.html">Web Design</a></li>
                         <li><a href="course.html">SEO Optimize</a></li>
                         <li><a href="course.html">Marketing</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-xl-auto">
                <div class="widget widget_nav_menu footer-widget style2">
                   <h3 class="widget_title">Resourses</h3>
                   <div class="menu-all-pages-container">
                      <ul class="menu">
                         <li><a href="about.html">Community</a></li>
                         <li><a href="contact.html">Support</a></li>
                         <li><a href="course.html">Video Guides</a></li>
                         <li><a href="course.html">Documentation</a></li>
                         <li><a href="contact.html">Security</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-xl-3">
                <div class="widget newsletter-widget footer-widget style2">
                   <h3 class="widget_title">Get in touch!</h3>
                   <p class="footer-text">Subscribe our newsletter to get our latest Update & news</p>
                   <form class="newsletter-form form-group"><input class="form-control" type="email" placeholder="Email Email" required=""> <i class="far fa-envelope"></i> <button type="submit" class="th-btn style3">Subscribe Now <i class="far fa-arrow-right ms-1"></i></button></form>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="copyright-wrap">
       <div class="container">
          <div class="row justify-content-between align-items-center">
             <div class="col-lg-auto d-none d-lg-block">
                <div class="footer-links">
                   <ul>
                      <li><a href="about.html">Terms of Use</a></li>
                      <li><a href="about.html">Privacy Environmental Policy</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-lg-auto">
                <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2023 <a href="https://themeforest.net/user/themeholy">Themeholy</a>. All Rights Reserved.</p>
             </div>
          </div>
       </div>
    </div>
    <div class="scroll-top">
       <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
       </svg>
    </div>
    <div class="shape-mockup jump d-none d-xl-block" data-top="10%" data-left="0%"><img src="assets/img/update1/shape/footer_shape_4.png" alt="shapes"></div>
    <div class="shape-mockup movingX d-none d-xl-block" data-bottom="15%" data-right="0%"><img src="assets/img/update1/shape/footer_shape_5.png" alt="shapes"></div>
 </footer>
 <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
 <script src="assets/js/app.min.js"></script>
 <script src="assets/js/main.js"></script>