<div class="header">
    <div class="pull-left">
        <div class="logo"><a href="/Dashboard"><!-- <img src="Backend/assets/images/logo.png" alt="" /> --><span>ProsePro Writers </span></a></div>
        <div class="hamburger sidebar-toggle">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib"><img class="avatar-img" src="Backend/assets/images/avatar/1.jpg" alt="" /> <span class="user-avatar"><%= `${user.firstName} ${user.lastName }`%> <i class="ti ti-angle-down f-s-10"></i></span>
                <div class="drop-down dropdown-profile">
                    <div class="dropdown-content-heading">
                        <span class="text-left">Upgrade Now</span>
                        <p class="trial-day">30 Days Trail</p>
                    </div>
                    <div class="dropdown-content-bodsy">
                        <ul>
                            <li><a href="#"><i class="ti ti-user"></i> <span>Profile</span></a></li>
                            <li><a href="#"><i class="ti ti-wallet"></i> <span>My Balance</span></a></li>
                            <li><a href="#"><i class="ti ti-write"></i> <span>My Task</span></a></li>
                            <li><a href="#"><i class="ti ti-calendar"></i> <span>My Calender</span></a></li>
                            <li><a href="#"><i class="ti ti-email"></i> <span>Inbox</span></a></li>
                            <li><a href="#"><i class="ti ti-settings"></i> <span>Setting</span></a></li>
                            <li><a href="#"><i class="ti ti-help-alt"></i> <span>Help</span></a></li>
                            <li><a href="#"><i class="ti ti-lock"></i> <span>Lock Screen</span></a></li>
                            <li><a href="/Logout"><i class="ti ti-power-off"></i> <span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>