<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content" style="margin-top: 50px !important;">
            <ul>
                <li class="label">Dashboard</li>
                <li class="active"><a class="sidebar-sub-toggle"><i class="ti ti-user"></i>Welcome <%= user.firstName%><span class="sidebar-collapse-icon"></span></a>
                </li>
                <li class="label">Categories</li>
                <li><a class="sidebar-sub-toggle"><i class="ti ti-pencil-alt"></i>My Categories<span class="sidebar-collapse-icon ti ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/CategoryCreate">Add Categories</a></li>
                        <li><a href="/CategoryAll">All Categories</a></li>
                    </ul>
                </li>
                <li class="label">Projects</li>
                <li><a class="sidebar-sub-toggle"><i class="ti ti-list"></i>Projects<span class="sidebar-collapse-icon ti ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/Taken/Projects">Taken Projects</a></li>
                        <li><a href="/Projects">View Projects</a></li>
                    </ul>
                </li>
                <li class="label">Orders</li>
                <li><a class="sidebar-sub-toggle"><i class="ti ti-pencil-alt"></i>My Orders <span class="sidebar-collapse-icon ti ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/OrderCreate">Create Order</a></li>
                        <li><a href="/MyOrders">My Orders</a></li>
                        <li><a href="school-student-details.html">Awarded Projects</a></li>
                    </ul>
                </li>

                <li class="label">Reviews</li>
                <li><a class="sidebar-sub-toggle"><i class="ti ti-user"></i> Accounts<span class="sidebar-collapse-icon ti ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/Memberships">Membership Plans</a></li>
                        <li><a href="/MembershipSettings">Membership Settings</a></li>
                        <li><a href="/Pricing">My Plan</a></li>
                    </ul>
                </li>

                <li class="label">Account</li>
                <li><a class="sidebar-sub-toggle"><i class="ti ti-ticket"></i>  Earnings  <span class="sidebar-collapse-icon ti ti-angle-down"></span></a>
                    <ul>
                        <li><a href="chart-flot.html">Paid Orders</a></li>
                        <li><a href="chart-morris.html">All Payments</a></li>
                        <li><a href="chartjs.html">Payment Method</a></li>
                        <li><a href="chartist.html">Payment Policy</a></li>
                    </ul>
                </li>
                <li><a href="app-event-calender.html"><i class="ti ti-calendar"></i> Transaction History</a></li>
                <li><a href="app-email.html"><i class="ti ti-email"></i> Earning Report</a></li>
                <li><a href="app-profile.html"><i class="ti ti-user"></i> Verification</a></li>
                <li class="label">Account</li>
                <li><a class="sidebar-sub-toggle"><i class="ti ti-settings"></i> Account Settings<span class="sidebar-collapse-icon ti ti-angle-down"></span></a>
                    <ul>
                        <li><a href="restaurant-menu-one.html">Complete Profile</a></li>
                        <li><a href="restaurant-menu-one.html">Billing method</a></li>
                        <li><a href="restaurant-menu-one.html">Membership</a></li>
                        <li><a href="restaurant-menu-one.html">Contact Info</a></li>
                        <li><a href="restaurant-menu-one.html">Tax History</a></li>
                        <li><a href="restaurant-menu-one.html">Profile Setting</a></li>
                        <li><a href="restaurant-menu-one.html">Teams</a></li>
                        <li><a href="restaurant-menu-one.html">Password & Security</a></li>
                        <li><a href="restaurant-menu-one.html">Change Password</a></li>
                        <li><a href="restaurant-menu-one.html">Fill </a></li>
                        <li><a href="restaurant-menu-one.html">View Reviews</a></li>
                    </ul>
                </li>
                <li><a href="/Logout"><i class="ti ti-close"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->