<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('./partials/header.ejs')%>
   <body>
     <%- include('./partials/navbar.ejs') %>
     <div class="overflow-hidden position-relative mt-5 mb-5" id="team-sec">
        <div class="shape-mockup instructor-bg-shape1 jump d-lg-block d-none" data-left="3%" data-bottom="30%"><img src="assets/img/normal/blog-3-bg-shape.png" alt="img"></div>
        <div class="instructor_bg_shape2 shape-mockup d-xl-block d-none" data-left="-15%" data-top="3%"><img src="assets/img/normal/instructor_1_shape1.png" alt="img"></div>
        <div class="container">
           <div class="row">
              <div class="col-xl-6 order-xl-2">
                 <div class="become-instructor-img mb-5 mb-xl-0 ms-xl-5"><img src="assets/img/normal/become-instructor-thumb.png" alt="img"></div>
              </div>
              <div class="col-xl-6 order-xl-1">
                 <div class="title-area mb-30">
                    <span class="sub-title"><i class="fal fa-book me-1"></i> Instructor</span>
                    <h2 class="sec-title">Become an Instructor On Our Online Platform.</h2>
                 </div>
                 <div class="row gy-4">
                    <div class="col-sm-6">
                       <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title">Teach your way</h4>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title">Plan your curriculum</h4>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title">Record your video</h4>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="become-instructor-wrap">
                          <i class="fa-solid fa-badge-check"></i>
                          <h4 class="box-title">Launch your course</h4>
                       </div>
                    </div>
                 </div>
                 <a href="about.html" class="th-btn mt-40">Get Instructor <i class="fa-regular fa-arrow-right ms-1"></i></a>
              </div>
           </div>
        </div>
     </div>
     <div class="overflow-hidden mt-5 mb-5">
        <div class="container">
           <div class="row">
              <div class="col-xl-6 align-self-end text-xl-end order-xl-2">
                 <div class="faq-img mb-5 mb-xl-0"><img src="assets/img/normal/faq_1_1.png" alt="Faq"></div>
              </div>
              <div class="col-xl-6 order-xl-1">
                 <div class="me-xl-5">
                    <div class="title-area">
                       <span class="sub-title"><i class="fal fa-book"></i> Explore Edura Education</span>
                       <h2 class="sec-title">Frequently Asked Question?</h2>
                    </div>
                    <div class="accordion-area accordion" id="faqAccordion">
                       <div class="accordion-card">
                          <div class="accordion-header" id="collapse-item-1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">What Does It Take Excellent Author?</button></div>
                          <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                             <div class="accordion-body">
                                <p class="faq-text">The time it takes to repair a roof depends on the extent of the damage. For minor repairs, it might take an hour or two. For significant repairs, a Edura or team might be at your home for half a day.</p>
                             </div>
                          </div>
                       </div>
                       <div class="accordion-card active">
                          <div class="accordion-header" id="collapse-item-2"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Purpose of education is the integral development?</button></div>
                          <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                             <div class="accordion-body">
                                <p class="faq-text">The time it takes to repair a roof depends on the extent of the damage. For minor repairs, it might take an hour or two. For significant repairs, a Edura or team might be at your home for half a day.</p>
                             </div>
                          </div>
                       </div>
                       <div class="accordion-card">
                          <div class="accordion-header" id="collapse-item-3"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Education can contribute to the betterment?</button></div>
                          <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                             <div class="accordion-body">
                                <p class="faq-text">The time it takes to repair a roof depends on the extent of the damage. For minor repairs, it might take an hour or two. For significant repairs, a Edura or team might be at your home for half a day.</p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
      <%- include('./partials/footer.ejs') %>
   </body>
</html>