<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('./partials/header.ejs')%>
   <body>
     <%- include('./partials/navbar.ejs') %>
     <section class="bg-title position-relative mb-5" data-bg-src="assets/img/bg/admission-bg1.png">
        <div class="img-left admission-thumb"><img src="assets/img/normal/admission-mockup-thumb1.png" alt="mockup"></div>
        <div class="container space z-index-common">
           <div class="row justify-content-end">
              <div class="col-xl-6">
                 <div class="title-area mb-30">
                    <span class="sub-title"><i class="fal fa-book me-2"></i> Login Your Account</span>
                    <h2 class="sec-title fw-medium text-white">Get Access to more features when you log in</h2>
                 </div>
                 <form class="course-form mb-2 loginForm">
                    <div class="row">
                       <div class="col-md-12">
                        <span class="text-error emailError"></span>
                        <span class="text-success loginSuccess"></span>
                          <div class="form-group"><input type="email" placeholder="Email Address*" name="userEmail"></div>
                       </div>
                       <div class="col-lg-12">
                           <span class="text-error passwordError"></span>
                          <div class="form-group"><input type="password" name="password"  placeholder="Your Password"></div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="th-btn style3 btn-block" type="submit" style="width: 100% !important;">Login<i class="fas fa-arrow-right ms-2"></i></button>
                         </div>
                    </div>
                 </form>
                 <div class="row">
                    <div class="col-md-6">
                        <a href="/Reset" class="text-white">Forgot Your Password? Reset Here</a>
                     </div>
                     <div class="col-md-6">
                        <a href="/Register" class="text-white">Not Registered? Register Here</a>
                     </div>
                </div>
              </div>
           </div>
        </div>
     </section>
     <script>
      const form = document.querySelector('form.loginForm')
      const emailError = document.querySelector(".emailError")
      const loginSuccess = document.querySelector(".loginSuccess")
      const passwordError = document.querySelector(".passwordError")
      form.addEventListener('submit',async (e)=>{
         const userEmail = form.userEmail.value
         const password = form.password.value
         e.preventDefault()
         emailError.textContent = ""
         passwordError.textContent = ""
         //post the data to the backend 
         const res = await fetch("/Login",{
            method:'POST',
            body:JSON.stringify({userEmail,password}),
            headers:{
               'Content-Type':'application/json'
            }
         })
         const dataBack = await res.json()
         if(dataBack.errors){
            Object.values(dataBack.errors).forEach((item)=>{
               if(item.email){
                  emailError.textContent=item.email
               }
               if(item.password){
                  passwordError.textContent=item.password
               }
            })
         }else{
            if(dataBack.login==='success'){
               //then login success
               loginSuccess.textContent='Login Successful. Redirecting....'
               setTimeout(()=>{
                  window.location.href='/Dashboard'
               },5000)
            }else{
               emailError.textContent=dataBack.login
            }
         }
      })
     </script>
      <%- include('./partials/footer.ejs') %>
   </body>
</html>