<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('./partials/header.ejs')%>
   <body>
     <%- include('./partials/navbar.ejs') %>
     <section class=" ">
        <div class="container">
           <div class="title-area text-center">
              <span class="sub-title">Pricing Plans</span>
              <h2 class="sec-title">Our Best Price For You</h2>
           </div>
           <div class="row gy-30 justify-content-center">
              <div class="col-xl-4 col-md-6">
                 <div class="price-card2" data-theme-color="" data-body-color="#AED139">
                    <h3 class="price-card2_title box-title">Basic Plan</h3>
                    <div class="price-card2_price"><span class="price"><span class="currency">$</span>50<span class="duration">/Per Month</span></span></div>
                    <div class="price-card2_img"><img src="assets/img/update1/shape/color_11.png" alt="image"></div>
                    <div class="available-list">
                       <ul>
                          <li>10 Hours/day Learning</li>
                          <li>Outdoor Activities</li>
                          <li>Knowledge Learning</li>
                          <li class="unavailable">School Bus Service</li>
                          <li class="unavailable">Cafeteria: Breakfast, Lunch</li>
                          <li class="unavailable">Sport Games Training</li>
                       </ul>
                    </div>
                    <a href="contact.html" class="th-btn">Choose Plan<i class="fas fa-long-arrow-right ms-2"></i></a>
                 </div>
              </div>
              <div class="col-xl-4 col-md-6">
                 <div class="price-card2" data-theme-color="#786ACF" data-body-color="#fe5a86">
                    <h3 class="price-card2_title box-title">Standard Plan</h3>
                    <div class="price-card2_price"><span class="price"><span class="currency">$</span>70<span class="duration">/Per Month</span></span></div>
                    <div class="price-card2_img"><img src="assets/img/update1/shape/color_11.png" alt="image"></div>
                    <div class="available-list">
                       <ul>
                          <li>10 Hours/day Learning</li>
                          <li>Outdoor Activities</li>
                          <li>Knowledge Learning</li>
                          <li>School Bus Service</li>
                          <li class="unavailable">Cafeteria: Breakfast, Lunch</li>
                          <li class="unavailable">Sport Games Training</li>
                       </ul>
                    </div>
                    <a href="contact.html" class="th-btn">Choose Plan<i class="fas fa-long-arrow-right ms-2"></i></a>
                 </div>
              </div>
              <div class="col-xl-4 col-md-6">
                 <div class="price-card2" data-theme-color="#fe5a86" data-body-color="#786ACF">
                    <h3 class="price-card2_title box-title">Premium Plan</h3>
                    <div class="price-card2_price"><span class="price"><span class="currency">$</span>120<span class="duration">/Per Month</span></span></div>
                    <div class="price-card2_img"><img src="assets/img/update1/shape/color_11.png" alt="image"></div>
                    <div class="available-list">
                       <ul>
                          <li>10 Hours/day Learning</li>
                          <li>Outdoor Activities</li>
                          <li>Knowledge Learning</li>
                          <li>School Bus Service</li>
                          <li>Cafeteria: Breakfast, Lunch</li>
                          <li>Sport Games Training</li>
                       </ul>
                    </div>
                    <a href="contact.html" class="th-btn">Choose Plan<i class="fas fa-long-arrow-right ms-2"></i></a>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <div class="mt-5 mb-5 overflow-hidden">
        <div class="container">
           <div class="row">
              <div class="col-xl-7">
                 <div class="title-area mb-40 text-center text-xl-start">
                    <span class="sub-title">Our Activities</span>
                    <h2 class="sec-title">Edura’s Kids Activities</h2>
                 </div>
                 <div class="row gy-40">
                    <div class="col-sm-6">
                       <div class="activity-box">
                          <div class="activity-box_icon"><img src="assets/img/update1/icon/activity_1_1.svg" alt="icon"></div>
                          <div class="media-body">
                             <h3 class="activity-box_title box-title">Play Time</h3>
                             <p class="activity-box_text">Monotonectally whiteboard 24/7 deliverables after client-focused growth strategies.</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="activity-box">
                          <div class="activity-box_icon"><img src="assets/img/update1/icon/activity_1_2.svg" alt="icon"></div>
                          <div class="media-body">
                             <h3 class="activity-box_title box-title">Daycare</h3>
                             <p class="activity-box_text">Monotonectally whiteboard 24/7 deliverables after client-focused growth strategies.</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="activity-box">
                          <div class="activity-box_icon"><img src="assets/img/update1/icon/activity_1_3.svg" alt="icon"></div>
                          <div class="media-body">
                             <h3 class="activity-box_title box-title">E-learning</h3>
                             <p class="activity-box_text">Monotonectally whiteboard 24/7 deliverables after client-focused growth strategies.</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="activity-box">
                          <div class="activity-box_icon"><img src="assets/img/update1/icon/activity_1_4.svg" alt="icon"></div>
                          <div class="media-body">
                             <h3 class="activity-box_title box-title">Healthy Meals</h3>
                             <p class="activity-box_text">Monotonectally whiteboard 24/7 deliverables after client-focused growth strategies.</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="activity-box">
                          <div class="activity-box_icon"><img src="assets/img/update1/icon/activity_1_5.svg" alt="icon"></div>
                          <div class="media-body">
                             <h3 class="activity-box_title box-title">Outdoors</h3>
                             <p class="activity-box_text">Monotonectally whiteboard 24/7 deliverables after client-focused growth strategies.</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="activity-box">
                          <div class="activity-box_icon"><img src="assets/img/update1/icon/activity_1_6.svg" alt="icon"></div>
                          <div class="media-body">
                             <h3 class="activity-box_title box-title">Events</h3>
                             <p class="activity-box_text">Monotonectally whiteboard 24/7 deliverables after client-focused growth strategies.</p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-xl-5">
                 <div class="img-box13"><img src="assets/img/update1/normal/activity_kid.png" alt="about"></div>
              </div>
           </div>
        </div>
     </div>
      <%- include('./partials/footer.ejs') %>
   </body>
</html>