<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('./partials/header.ejs')%>
   <body>
     <%- include('./partials/navbar.ejs') %>
     <section class="bg-title position-relative mb-5" data-bg-src="assets/img/bg/admission-bg1.png">
        <div class="img-left admission-thumb"><img src="assets/img/normal/admission-mockup-thumb1.png" alt="mockup"></div>
        <div class="container space z-index-common">
           <div class="row justify-content-end">
              <div class="col-xl-6">
                 <div class="title-area mb-30">
                    <span class="sub-title"><i class="fal fa-book me-2"></i> Join Us</span>
                    <h2 class="sec-title fw-medium text-white">Get the Best When You Register With Us</h2>
                 </div>
                 <p class="mb-30 text-light">
                    By creating an Account with us, It means that you accept our <a href="#">Terms and Conditions</a>
                </p>
                 <form class="course-form mb-2 registerForm" action="#">
                  <span class="text-error text-center regError"></span>
                    <div class="row">
                       <div class="col-md-6 text-center">
                          <div class="form-group">
                           <input type="text" placeholder="First Name" name="firstName" id="firstName">
                        </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group"><input type="text" placeholder="Last Name" name="lastName" id="lastName"></div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group"><input type="email" name="Email"  placeholder="Email Address" id="userEmail"></div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group text-white text-center" id="why" style="border:1px solid #283752;border-radius: 5px;">
                                <span class="text-center text-white">Why Join Us?</span>
                                <div class="d-flex justify-content-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="why" id="work" value="work" >
                                        <label class="form-check-label text-white" for="work">
                                          I want to Work
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="why" id="hire" value="hire">
                                        <label class="form-check-label text-white" for="hire">
                                          I want to Hire
                                        </label>
                                      </div>
                                </div>
                          </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                           <div class="form-group"><input type="password" placeholder="Password" name="password" id="Password"></div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group"><input type="password" placeholder="Confirm Password" name="confirmPassword" id="ConfirmPassword"></div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                            <button class="th-btn style3 btn-block" style="width: 100% !important;">Create Account<i class="fas fa-arrow-right ms-2"></i></button>
                         </div>
                    </div>
                 </form>
                 <div class="row">
                    <div class="col-md-12">
                        <a href="/Login" class="text-white">Already Have An Account? Login</a>
                     </div>
                </div>
              </div>
           </div>
        </div>
     </section>
     <script>
      //get the form selector
      const form = document.querySelector('form.registerForm')
      const errorClass = document.querySelector('.regError')
      form.addEventListener('submit',(e)=>{
         const fError = document.querySelector('#firstName')
         const firstName = form.firstName.value
         const lastName = form.lastName.value
         const userEmail = form.Email.value
         const userReason = form.why.value
         const password = form.password.value
         const confirmPassword = form.confirmPassword.value
         //prevent the default form action
         e.preventDefault()
         //validation to be done on the server
         //post the json data to the backend using fetch API
      })
     </script>
      <%- include('./partials/footer.ejs') %>
   </body>
</html>